.shapes {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, 48px);
  gap: 16px;
  justify-content: center;
  max-width: 100%;
  overflow: auto;
}
.shape {
  background: var(--button);
  box-sizing: border-box;
  display: inline-block;
  flex-shrink: 0;
  height: 48px;
  mask-repeat: no-repeat;
  transition: .3s;
  width: 48px;
}
.shape-fg {
  border: 1px solid var(--fg-color);
}
.shape-selected {
  background: var(--checked);
}
.shape[data-shape-name="empty"] {
  background: none;
  border: 2px dotted var(--button);
  border-radius: 50%;
}
.shape-selected[data-shape-name="empty"] {
  background: none;
  border-color: var(--checked);
}

